.Rproj.user
.Rhistory
.RData
_book
_publish.R
_bookdown_files
rsconnect

# ignore docs folder with builds in html, pdf and epub
docs

# ignore for the moment
# .travis.yml
LICENSE

#thesis.log
packages.bib

# ignore intermidiate figure files
figures/*.log
figures/*.synctex.gz
#figures/*/*.png
figures/*/*.log
figures/*/*.synctex.gz
#figures/*/*/*.png
figures/*/*/*.log
figures/*/*/*.synctex.gz

# ignore text_sources folder
text_sources

data/notes.html

